html {
    font-family: 'Times New Roman', Times, serif;
}

h1, h2 {
    font: bold;
    color: rgb(255, 102, 0);
}

.page {
    color: rgb(255, 255, 255);
    background-color: rgb(39, 39, 39);
    background-image: url("./images/bgi.avif");
    background-repeat: repeat;
}

p {
    color: white;
}